<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱尚品--你的加入，生活多一份美妙！</title>
<style>
	body{
		
		background-image:url(/static/images/tea5.jpg);

	}
	#main{
		position:absolute;
		left:560px;
		top:185px;
		font-size:24px;
		font-family:cursive, Comic Sans MS, Zapf Chancery, Author;
	}
	
</style>
</head>

<body>
	<div id="main">
    	<h3><span>用户登录</span></h3>
        <form>
            <table>
                <tr><td>用户名</td><td><input type="text" name="username" /></td></tr>
                <tr><td>密码</td><td><input type="password" name="password" /></td></tr>
            </table>
            <span><input type="button"  value="登录"/></span>
        </form>
    </div>

</body>
</html>
